# Motion Dataset
dataset/

# THETIS Dataset
THETIS/
keypoints/

# test의 이미지 파일
test/*.jpg
test/*.png

# output 파일
output/video4/
output/video6/

# 참고 ipynb 파일
ref/

# YOLO와 관련된 파일
yolo/

# YOLO 학습 진행 log 파일
runs/

# cache 폴더
src/__pycache__

# EDA 결과 이미지
eda_result/

# Model Weight 폴더
models/