# Motion Dataset
dataset/

# THETIS Dataset
THETIS/
keypoints/

# test의 이미지 파일
test/*.jpg
test/*.png

# 참고 ipynb 파일
ref/

# 용량이 큰 yolo 모델
yolo/

# 용량이 큰 tracknet V2
models/tracknetV2

# cache 폴더
src/__pycache__

# EDA 결과 이미지
eda_result/

# Model Weight 폴더
models/model